<div class="container">

  <div class="col-lg-12 col-lg-offset-1">
    <h1 style=" font-size:36px;color: #9E9E9E;">Оформити замовлення</h1>
  </div>
  <div class="row payMainWrapper">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="row">

        <div class="col-lg-6 col-lg-pull-6 col-my-lt-12 paySelect">
          <h6 class="h6 as ">Оберіть спосіб доставки</h6>
          <form>
            <div class="checkboxs">
              <label for="delivery">
                <input type="radio" name="delivery" value="delivery" checked="checked"><span>Доставка</span>
              </label>
              <label for="delivery">
                <input type="radio" name="delivery" value="driveway"><span>Самовивіз</span>
              </label>
              <label for="delivery">
                <input type="radio" name="delivery" value="advance"><span>Заздалегідь</span>
              </label>
            </div>


            <label class="inputWrapper ">
              <input class="simpleInput name" placeholder="Ваше ім`я*" name="name" type="text" value="" maxlength="60">
            </label>

            <div class="emptySpace10"></div>

            <label class="inputWrapper ">
              <input class="simpleInput tel" placeholder="Телефон*" name="tel" type="text" value=""
                pattern="^(8|\+?\d{1,3})?[ -]?\(?(\d{3})\)?[ -]?(\d{3})[ -]?(\d{2})[ -]?(\d{2})$">
            </label>

            <div class="emptySpace10"></div>

            <label class="inputWrapper ">
              <textarea class="simpleInput" placeholder="Ваш коментар" name="comment" id="" maxlength="256" cols="50"
                rows="5"></textarea>
            </label>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="col-lg-6 col-lg-push-6">
          <div class="payItems smallSlideLeft animationDelay-1">
            <div class="table">
              <div class="tr thead">
                <div class="tr">
                  <div class="td"></div>
                  <div class="td">Товар</div>
                  <div class="td">Ціна</div>
                  <div class="td">Кількість</div>
                  <div class="td">Загалом</div>
                </div>
              </div>
              <div class="tr tbody">
                <div class="tr productOrder"></div>
              </div>
              <div class="tr tfoot">
                <div class="td">
                  <div class="orderDiscount cart-discount">
                    <p>Знижка:</p>
                    <span>0</span>
                    <i>грн</i>
                  </div>
                  <div class="fullPrice cart-total" data-red-zone="250" data-green-zone="150">
                    <div class="subFullPrice" style="display:none;">
                      <span>157</span>
                      <i>грн</i>
                    </div>
                    <div class="totalFullPrice" style="display:block;">
                      <p>Загалом:</p>
                      <span>157</span>
                      <i>грн</i>
                    </div>
                  </div>
                </div>
              </div>
           -->
